<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">

  <h1><%=name[0].firstName%></h1>
  <img src='../../<%=name[0].image.split("views/")[1]%> ' style="width:250px;height:250px" alt="profile-pic"/>
    <p class="title">Wel-Come</p>
    <p>Play Game</p>
    <p><a href='/auth/logout' style="color:wheat"><button>Logout</button></a></p>
    <p><a href='/' style="color:wheat"><button>home</button></a></p>
</div>

</body>
</html>
